! <- comment sign
! Update settings:
! xrdb -merge ~/.Xresources

#define _term_size          140x37

*.cursorBlink:              true
*visualBellLine:            true

! xscreensaver ---------------------------------------------------------------

xscreensaver.splash: false

!font settings
xscreensaver.Dialog.headingFont:        -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*

!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #ffffff
xscreensaver.Dialog.background:         #111111
xscreensaver.Dialog.topShadowColor:     #111111
xscreensaver.Dialog.bottomShadowColor:  #111111
xscreensaver.Dialog.Button.foreground:  #666666
xscreensaver.Dialog.Button.background:  #ffffff

!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #666666
xscreensaver.Dialog.text.background:    #ffffff
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        20
xscreensaver.Dialog.shadowThickness:    2

!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #ff0000
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       8
!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %H:%M %a %b %d, %Y

! XTERM
! Enabling normal copy/paste to CLIPBOARD buffer in X11,
! instead of default PRIMARY in xterm and pure x-apps.
! Ctrl-Shift+C/V copy/paste
xterm*VT100.Translations: #override \
  Ctrl Shift <Key>V:        insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>C:        copy-selection(CLIPBOARD)
! Fix Alt-key behaviour
xterm*metaSendsEscape:      true
xterm*loginShell:           true
xterm*renderFont:           true
!xterm*faceName:            DejaVu Sans Mono
xterm*faceName:             xft:PragmataPro
xterm*faceSize:             14
xterm*termName:             xterm-256color
xterm*charClass:            33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*vt100*geometry:       _term_size
xterm*saveLines:            16384
!xterm*cursorBlink:          true
! enable mouse-wheel scrolling (like pg-up/pg-down)
! in programms man or screen
xterm*alternateScroll:      true
! Copy and paste
!xterm*selectToClipboard:   true
! Use UTF-8 characters
xterm*locale:               true
xterm*utf8Title:            true
!*visualBell:               on
xterm*utf8:                 always
xterm*utf8Fonts:            always
xterm*visualBell:           true
xterm*visualBellLine:       true
!xterm*bellIsUrgent:         true

! URXVT
urxvt.keysym.Home:          \033[1~
urxvt.keysym.End:           \033[4~
urxvt.keysym.KP_Home:       \033[1~
urxvt.keysym.KP_End:        \033[4~
urxvt.termName:             xterm-256color
!urxvt.termName:             rxvt-unicode
!urxvt.termName:             rxvt-unicode-256
urxvt.depth:                32
urxvt.geometry:             _term_size
urxvt.transparent:          false
urxvt.fading:               0
!urxvt.urgentOnBell:         true
!urxvt.visualBell:           true
urxvt.visualBellLine:       true
urxvt.saveLines:            9000
urxvt.internalBorder:       0
urxvt.externalBorder:       0
urxvt.lineSpace:            0
urxvt.loginShell:           true
! Fonts
URxvt.allow_bold:           true
URxvt.font:                 xft:Pragmata Pro:size=13:antialias=true:autohint=false
URxvt.boldFont:             xft:Pragmata Pro:style=bold:size=13:antialias=true:autohint=false
! Fix font space
urxvt*letterSpace:          -1
! Scrollbar
urxvt.scrollStyle:          rxvt
urxvt.scrollBar:            false

! Color definition list:
!BLK Cursor
#define _color0        #000000
#define _color8        #B2B2B2
!RED Tag
#define _color1        #B21818
#define _color9        #FF5454
!GRN SpecialKey
#define _color2        #18B218
#define _color10       #54FF54
!YEL Keyword
#define _color3        #B26818
#define _color11       #FFFF54
!BLU Number
#define _color4        #1818B2
#define _color12       #5454FF
!MAG Precondit
#define _color5        #c0bed1
#define _color13       #c0bed1
!CYN Float
#define _color6        #18B2B2
#define _color14       #54FFFF
!WHT Search
#define _color7        #B2B2B2
#define _color15       #FFFFFF
!FMT Include, StatusLine, ErrorMsg
#define _colorBD       #ffcfaf
#define _colorUL       #ccdc90
#define _colorIT       #80d4aa
!TXT Normal, Normal, Cursor
#define _foreground    #B2B2B2
#define _background    #000000
#define _cursorColor   #B2B2B2

! Assigning of colors:
! URxvt section
urxvt*color0         : _color0
urxvt*color1         : _color1
urxvt*color2         : _color2
urxvt*color3         : _color3
urxvt*color4         : _color4
urxvt*color5         : _color5
urxvt*color6         : _color6
urxvt*color7         : _color7
urxvt*color8         : _color8
urxvt*color9         : _color9
urxvt*color10        : _color10
urxvt*color11        : _color11
urxvt*color12        : _color12
urxvt*color13        : _color13
urxvt*color14        : _color14
urxvt*color15        : _color15
urxvt*colorBD        : _colorBD
urxvt*colorIT        : _colorIT
urxvt*colorUL        : _colorUL
urxvt*foreground     : _foreground
urxvt*background     : _background
urxvt*cursorColor    : _cursorColor

! XTerm section
xterm*color0         : _color0
xterm*color1         : _color1
xterm*color2         : _color2
xterm*color3         : _color3
xterm*color4         : _color4
xterm*color5         : _color5
xterm*color6         : _color6
xterm*color7         : _color7
xterm*color8         : _color8
xterm*color9         : _color9
xterm*color10        : _color10
xterm*color11        : _color11
xterm*color12        : _color12
xterm*color13        : _color13
xterm*color14        : _color14
xterm*color15        : _color15
xterm*colorBD        : _colorBD
xterm*colorIT        : _colorIT
xterm*colorUL        : _colorUL
xterm*foreground     : _foreground
xterm*background     : _background
xterm*cursorColor    : _cursorColor
